.head{
  color: red;
}


.div{
  border: 1px solid black;
  background-image: url('/apple_magic.jpg');
  // background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  border: 1px solid black;
}
.wrap{
  border: 1px solid black;
}